@charset "utf-8";
/* CSS Document */
body{font-family:"PingFang SC Medium","Microsoft YaHei";text-align:center;padding:0; margin:0 auto;font-size:14px;color:#3d3d3d;line-height:30px;background:#fff;}
*body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;font-family:"PingFang SC Medium","Microsoft YaHei";}
body > div{text-align:left;margin-right:auto;margin-left:auto;} 
div,form,ul,ol,li,dl,dt,dd{margin:0 auto;padding:0;border:0;text-align:left; font-weight: normal;}
img,a img,p,pre{border:0;margin:0;padding:0;}
h1,h2,h3,h4{margin:0;padding:0;font-weight:normal;}
ul,ol,li{list-style:none;text-align:left;}
table,th,td,input,textarea,select,p{font-size:15px;border:0;outline:none;font-family:"PingFang SC Medium","Microsoft YaHei";}
table,td,th{font-weight:normal;font-size:15px;font-family:"PingFang SC Medium","Microsoft YaHei";}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;vertical-align:middle; border:none;font-family:"PingFang SC Medium","Microsoft YaHei";}
img{vertical-align:middle;}
pre{white-space:normal;}
i{font-style: normal;}
/* 默认链接颜色 */
a{outline-style:none !important;color:#333;text-decoration:none;}
a:hover{color:#f46322;text-decoration:none;}
/*清除链接虚框*/
a,area{blr:expression(this.onFocus=this.blur());}for IE
:focus{-moz-outline-style:none;}for Firefox
/* 下划线 */
.unline,.unline a{text-decoration:underline}
.nounline,.nounline a,.list12 .nounline{text-decoration:none;}
/* 通用属性 */
.left,.fl{float:left;}
.right,.fr{float:right;}
.overflow{overflow:auto; overflow:hidden;}
.clearfix:after {display:block;clear:both;height: 0;}
.clearfix {zoom:1;}
.center{margin:0 auto;}
.clear{clear:both;font-size:1px;width:1px;visibility:hidden;margin-top:0px!important;*margin-top:-1px;line-height:0}/*ie and firefox1.5 updata */
.none{display:none;}
.both{clear:both;}
textarea {-webkit-appearance: none;}
.button{ border-radius:0;}

/*顶部*/
.head{background:#333; overflow: hidden;zoom:1;}
.head dl{height:40px;line-height: 40px; width: 1200px;margin:0 auto;zoom:1;color:#c1c1c1;}
.head dt{float:left;}
.head dd{float:right;text-align: right;color: #7A7A7A;}
.head dd a{color: #c1c1c1;margin:0 9px;}
.head dd span{color:#f46322;}
.logos{float:left;}
.hed_top{padding:25px 0;width:1200px;margin:0 auto;overflow: hidden;zoom:1;}
.hed_top ul{float:left;font-size: 18px;margin:15px 0 0 80px;}
.hed_top li{float:left;margin-left:28px;}
.hed_top li a.hover{color:#f46322;}
.minge_top{margin-top: 5px; float:right;overflow: hidden;zoom:1;}
.minge_so{background:#fff;width:320px;border:1px solid #ddd;}
.minge_so input{width:270px;height:40px;line-height: 40px;padding-left: 10px;border-right:1px solid #ddd;margin-right: 12px;}

.w1200{width:1200px;margin:0 auto;}
.gg{margin-bottom:20px;}
.gg img{width:1200px;height:120px;}
.gg2{margin-top:20px;}
.gg2 img{width:340px;height:130px;}
.gg3{margin-top:20px;}
.gg3 img{width:640px;height:144px;}
.gg4{margin-top:20px;}
.gg4 img{width:300px;height:120px;display: block;margin: 0 auto;}


.footer{background:#333;color:#979797;padding-top:34px;margin-top:45px; line-height:38px;overflow: hidden;zoom:1;}
.footer_dl dd{float:left;}
.footer_dl dd a{color:#979797;}
.footer_dl dt{float:right;text-align: right;}
.footer_dl dt p{text-align: right;}

.w340{width:340px;}
.help_rcon{border:1px solid #ddd;padding-bottom: 15px;}
.help_rbt{border-bottom:1px dashed #ccc;height:50px;line-height: 50px;padding-left: 20px;font-size:17px;font-weight: bold;}
.help_rbt a{float:right;color:#999;font-size: 14px;font-weight: normal;margin-right: 10px;}
.help_rcon ul{overflow: hidden;zoom:1;margin:15px 15px 0 15px;}
.help_rcon li{line-height:36px;font-size: 15px;}
.help_rcon li span{display: block;width:20px;height:20px;line-height:20px; float:left;text-align: center;margin:8px 10px 0 0;font-weight: bold;}
.help_rcon li:nth-child(1) span{background:#f36420;color:#fff;border-radius: 100%;}
.help_rcon li:nth-child(2) span{background:#f36420;color:#fff;border-radius: 100%;}
.help_rcon li:nth-child(3) span{background:#f36420;color:#fff;border-radius: 100%;}

.w838{width:838px;border-top:1px solid #ddd;}
.w838nobor{width:838px;}
.help_Ldl{border-bottom:1px dashed #ddd; padding-top:22px;padding-bottom:15px; overflow:hidden;zoom:1;}
.help_Ldl dt{background: url(../images/jt.png) no-repeat left center;padding-left:20px; font-weight:normal;font-size: 17px; margin-bottom:10px;}
.help_Ldl dd{padding-left:20px;}
.help_Ldl p{color:#888;margin-bottom: 10px;}
.help_Ldl div{color:#888;}
.help_Ldl span{ color:#f36420; margin-right:20px;}
.fenye{height:62px; margin:35px 0 10px 0;text-align: center;overflow: hidden;zoom:1;}
.fenye .pagination{position: static;text-align: center;border:none!important;}
.fenye .pagination li{height: 35px;float:left;margin: 0 5px;}
.fenye .pagination li span{display: block;height: 100%;color:#333;font-size: 14px;text-align: center;line-height:35px;}
.fenye .pagination li a{display:block;height: 100%;color:#f36420;font-size: 14px;padding:0 15px;border: 1px solid #ddd;text-align: center;line-height: 35px; opacity: 1;}
.fenye .pagination li.active a,.fenye .pagination li a:hover{color: #222;border:1px solid #fff;padding:0 15px 0 14px;font-weight:bold;}
.fenye .pagination li span a:hover{border: 1px solid #ddd;}
.fenye2{margin:40px auto;}

.pos{background: url(../images/dingw.png) no-repeat left center;line-height:40px;margin-top:-10px;margin-bottom:22px; padding-left:20px;border-bottom: 1px solid #ddd;}
.help_h1{font-size:18px;}
.news_listpj{border-bottom:1px dashed #ddd;padding-bottom: 15px;}
.news_listpj2{border-top:1px dashed #ddd;border-bottom:0;padding-top: 15px;}
.news_listpj dt{float:left;color:#999;}
.news_listpj dt span{color:#f36420;}
.news_listpj dd{float:right;color:#777;position: relative;}
.news_listpj span{margin-right: 25px;}
.news_listpj dd img{vertical-align: middle;margin-right: 3px;}
.news_listpj dd a{color:#777;cursor:pointer; }
.fx_xial{width:109px;height: 131px;position: absolute;right:0; background: url(../images/xiala.png) no-repeat;padding:16px 12px;opacity: 0;z-index: 999;}
.fx_xial li{margin-bottom:5px;}
.fx_xial li img{margin-right:6px;}
.help_are{margin:20px 0;border-bottom:1px dashed #ddd;padding-bottom: 15px;}
.pl_bt{border-bottom:1px solid #ddd;height:30px;line-height: 30px;margin-bottom: 10px;}
.pl_bt span{display: block;width:80px;text-align: center;border-bottom:2px solid #f36420;height:30px;line-height: 30px;font-size: 18px;}
.help_plnr{border:1px solid #ddd;height:180px;overflow: hidden;zoom:1;}
.help_plnr span{display: block;text-align: center;font-size: 17px; padding:80px;color:#666;}
.help_plnr span a{text-decoration: underline;color:#222;}
.help_btn{background:#f36420;color:#fff;border:0;padding:11px 25px;margin-top: 5px;font-size: 14px;}
.help_plnr textarea{width:100%;height:150px;padding:10px;}

.login_box{width:910px;height: 548px; margin:50px auto;box-shadow:2px 2px 10px #ddd;}
.login_L{width:352px;height: 548px;}
.login_R{float:left;width:360px;padding:35px 90px;}
.login_bt{font-size: 21px;font-weight: bold;color:#222;margin-bottom: 30px;}
.login_bt a{float:right;font-size: 15px;color:#f36420;}
.logiin_UL{line-height:50px;}
.logiin_UL li{height:60px;}
.logiin_UL li img{border:1px solid #ddd;width:100px;height:43px;}
.logiin_UL .dl_text{width:317px;border:1px solid #cbd3db;height:40px;line-height:40px;padding-left:40px;background: url(../images/shouj.png) no-repeat 10px center;}
.logiin_UL .dl_mim{width:317px;border:1px solid #cbd3db;height:40px;line-height:40px;padding-left:40px;background: url(../images/mima.png) no-repeat 10px center;}
.logiin_UL .dl_yzm{width:205px;border:1px solid #cbd3db;height:40px;line-height: 40px;padding-left:40px;background: url(../images/yzm.png) no-repeat 10px center;margin-right:7px;}
.logiin_UL .dl_yzm2{width:30%;background:#f2f2f2; height:40px;line-height: 40px;text-align: center;padding:0 8px;margin-left: 15px;}
.logiin_UL li span{float:left;}
.logiin_UL li.dl_zmm{text-align: right;}
.huoq_yzm{display: block;float:right;text-align: center;border:1px solid #ddd;width:100px;height:41px;line-height: 41px;margin-top: 2px;}
.login_btn{background:#f36420;color:#fff;height:46px;line-height: 46px;text-align: center;width:360px;border: 0;font-size: 18px;font-family:"PingFang SC Medium","Microsoft YaHei";}
.login_dl{overflow: hidden;zoom:1;padding:30px 30px 15px 30px;}
.login_dl li{width:33%;text-align: center;float:left;}
.login_dl li img{display: block;margin: 0 auto;}

.w175{width:175px;}
.ny_rbox{width:1005px;min-height:400px; border:1px solid #ddd;}
.hy_lcon{border:1px solid #ddd;}
.hy_lcon li{height:53px;line-height: 53px;border-bottom:1px solid #ddd;font-size: 16px;text-align: center;}
.hy_lcon li:last-child{border-bottom:0;}
.hy_lcon li a{display: block;}
.hy_lcon li a:hover,.hy_lcon li a.hover{background: #f36420;color:#fff;}
.hy_rbt{height:70px;line-height:70px;border-bottom:1px solid #ddd;font-size: 16px;padding-left: 15px;}
.hy_rbt a{color:#f46320;float:right;margin-right:20px;}
.qyyh_zhh{margin:80px;font-size: 15px;}
.qyyh_zhh li{margin-bottom: 30px;}
.qyyh_zhh li span{color:#999;}
.qyyh_zhh li i{background: #f46320;color:#fff;border-radius: 5px;padding:0 6px; margin-left:20px;}
.qyyh_zhh li i a{color:#fff;}
.qyyh_zhh li b{display: block;float:left;margin-right:20px;margin-top: 15px;}
.qyyh_zhh li b a{display: block;padding:0 30px;font-weight: normal;border: 1px solid #aaa;height:42px;line-height: 42px;text-align: center;}

.w640{width:640px;margin-left: 20px;}
.hy_cen{border:1px solid #ddd;}
.hy_centop{border-bottom:1px dashed #ddd;padding:30px; overflow: hidden;zoom:1;}
.hy_centop dt img{width:80px;height:80px;border-radius: 100%;float:left;margin-right: 25px;}
.hy_centop dd{margin-top:5px;line-height:35px;}
.hy_centop dd span{color: #f46320;}
.hy_centop dd a{margin-right: 25px;}
.hy_lc{margin:40px;overflow: hidden;zoom:1;background: url(../images/line.png) repeat-y 12px top;}
.hy_lc dl{overflow: hidden;zoom:1;margin-bottom: 15px;}
.hy_lc dt{float:left;}
.hy_lc dd{width:520px;float:right;}
.hy_lc dd strong{display: block;font-size: 16px;font-weight: normal;}
.hy_lc dd p{color:#999;}
.sc_btn{overflow: hidden;zoom:1;}
.sc_btn a{display: block;margin:0 auto;background:url(../images/sc.png) no-repeat;width:100px;height: 46px;line-height: 46px;color:#fff;font-size: 18px;padding-left:46px;}

.hy_sclist{border:1px solid #ddd;}
.sc_datit{border-bottom:1px solid #ddd;font-size:18px;height:65px;line-height: 65px;padding-left:30px;}

.jd_qh{overflow: hidden;zoom:1;border-bottom:1px solid #ddd;}
.jd_qh li{float:left;width:98px;height:60px;line-height:60px;margin-left:25px; text-align: center;font-size: 17px;}
.jd_qh li a span{color:#f36420;margin-left: 10px;margin-right: 25px;}
.jd_qh li.active{background:url(../images/liness.png) no-repeat left bottom;}

.inzc_dl01{overflow: hidden;zoom:1;border-bottom:1px dashed #ddd;padding:20px 25px;}
.inzc_dl01 dt{float:left;padding-right:10px;}
.inzc_dl01 dd{float:left;width:1100px;}
.inzc_dl01 dd strong{float:right;font-weight: normal;}
.inzc_dl01 dd strong a{color:#f36420;}
.inzc_dl01 dd h1{font-size: 18px;}
.inzc_dl01 dd p{color:#999;}
.inzc_dl01 dd i{color:#2a93be;}
.inzc_dl01 dd span{color:#f36420;margin:0 20px;}

.sc_bot{overflow: hidden;zoom:1;padding:20px 25px;width:300px;float:left;}
.sc_bot dt{float:left;padding-right:10px;}
.sc_bot dd a{color:#f36420;margin:0 10px;}
.sc_bot dd span a{background:#f5f5f5;border-radius: 5px;padding:5px 10px;color:#666;}

.new_Ldl{overflow: hidden;zoom:1;border-bottom:1px dashed #ddd;padding:20px 25px;position: relative;}
.new_Ldl dt{float:left;}
.new_Ldl dt input{margin-right: 15px;}
.new_Ldl dt img{ width:180px; height:130px; margin-right:25px; display:inline;}
.new_Ldl dd{float:left;width:900px;}
.new_Ldl h1{ font-size:18px; font-weight:normal; margin-bottom:10px;}
.new_Ldl p{width:700px; height:70px; color:#888;}
.new_Ldl div{color:#888;}
.new_Ldl div span{ color:#f36420; margin-right:30px;}
.new_Ldl dd strong{position: absolute;right:40px;font-weight: normal;}
.new_Ldl dd strong a{color:#f36420;}

.huangfont{color:#f36420;}
.fabu_nr{margin:10px 0 0 60px;font-size: 16px;}
.fabu_nr li{overflow: hidden;zoom:1;line-height:40px;margin-bottom: 10px;}
.fabu_nr li span{display: block;float:left;width:120px; text-align: right;}
.fabu_nr li input.fabu_text{width:260px;padding-left: 10px; border:1px solid #ddd;border-radius: 5px;height:38px;line-height: 38px;background:#f5f5f5;}
.fabu_nr li input.fabu_text2{width:70px;padding-left: 10px; border:1px solid #ddd;border-radius: 5px;height:38px;line-height: 38px;background:#f5f5f5;text-align: center;margin-right: 10px;}
.fabu_nr li select{width:150px;padding-left: 10px; border:1px solid #ddd;border-radius: 5px;height:38px;line-height: 38px;background:#f5f5f5;}
.fabu_nr li textarea{width:320px;padding-left: 10px; border:1px solid #ddd;border-radius: 5px;height:158px;line-height: 38px;background:#f5f5f5;}
.hui_btn{display: block;width:110px;text-align: center;background: url(../images/btn.png) repeat-x;height:25px;line-height:25px;font-size: 14px; border-radius: 5px; border:1px solid #ddd;}
.fabu_tx{margin-top: 50px;}
.fabu_tx li img{width:100px;height:100px;display: block;margin-bottom: 15px;}
.fabu_tx li p{float:left;color:#999;width:300px;}

.sc_xbt{color:#f36420;font-size: 17px;margin-top:30px;padding-left:95px;}
.chengse_btn{background:#f46320;width:280px;margin:30px 0 30px 180px;border: 0; height:38px;line-height: 38px;border-radius: 5px; color:#fff;text-align: center;font-size: 18px;font-family:"PingFang SC Medium","Microsoft YaHei";}

.gongy_hy tr:first-child td{height:50px;line-height:50px;border-bottom:1px solid #ddd;padding:5px 10px;}
.gongy_hy tr td{padding:10px;border-bottom:1px dashed #ddd;}
.gongy_hy tr td a{margin-right: 10px;}

.gongy_hy2{margin-bottom: 30px;}
.gongy_hy2 tr:first-child td{height:50px;line-height:50px;border-bottom:1px solid #eee;padding:5px 10px;}
.gongy_hy2 tr:first-child td{border-top:1px solid #eee;}
.gongy_hy2 tr td{padding:10px;border-bottom:1px dashed #eee;}
.gongy_hy2 tr td a{margin-right: 10px;}

.xgmm_box{margin:40px 0;}
.mima_anq{margin: 40px;overflow: hidden;zoom:1;}
.mima_anq b{float:left;}
.mima_anq div{float:left;margin-top: 10px;}
.hy_rbt2{border-top:1px solid #ddd;}
.guanl_p{margin:20px 50px;}

.martop{margin-top:20px;}
.gony_rli li{background:url(../images/dian.png) no-repeat left center;padding-left:15px;}
.gongy_qh{border-bottom:1px solid #ddd;font-size:18px;height:40px;line-height: 40px;}
.gongy_qh a{display: block;width:60px;text-align:center;float:left;margin-right:20px;}
.gongy_qh a:hover,.gongy_qh a.hover{background: url(../images/liness.png) no-repeat bottom center;color: #f46320;}

.qz_fl{border:1px solid #ddd;overflow: hidden;zoom:1;}
.qz_fl{width:1200px;margin:-10px auto 12px auto;background:#fff; border:1px solid #ddd;}
.qz_fl dl{border-bottom:1px dashed #ddd; overflow:hidden;zoom:1;}
.qz_fl dt{ padding:15px 0;font-size: 15px; float:left;line-height:32px; width:100px; text-align:right;}
.qz_fl dd{ padding:15px 0;font-size: 15px; float:left; line-height:32px;width:1090px;}
.qz_fl dd a{ padding:5px 7px; margin:0 6px;}
.qz_fl dd a:hover,.qz_fl dd a.hover{color:#f46320;}
.qz_fl dl:last-child{border-bottom: 0;}
.qz_fl dd select{width:110px;padding:7px 40px 7px 10px;border-radius: 5px;-webkit-appearance: none;background:#f5f5f5 url(../images/xia.png) no-repeat right center;}
.mo_con{ margin-top:10px;}
.changes{float:right;}
.shouj_text{float:right;padding-right:30px;}
.shouj_text input{width:90px;height:38px;line-height:38px;text-align: center;margin:0 5px; border:2px solid #e4e9ef;border-radius:8px;}
.qz_fl dd .xuan_jg a{border:2px solid #e4e9ef;border-radius:8px;padding:6px 20px;font-weight: normal;position:relative;}
.qz_fl dd .xuan_jg a img{position: absolute;right:0;top:-8px;}
#change_1 a{color:#f46320;}

.gony_box{width:838px;}
.gong_nr{border:1px solid #ddd;}
.gong_dl01{overflow: hidden;zoom:1;border-bottom:1px dashed #ddd;padding:20px 25px;position: relative;}
.gong_dl01 dt{position: absolute;left: 0;top:0;}
.gong_dl01 dd{padding-left:15px;}
.gong_dl01 dd h1{font-size: 18px;}
.gong_dl01 dd p{color:#999;}
.gong_dl01 dd i{color:#2a93be;margin-right: 20px;}
.gong_dl01 dd strong a{position: absolute;right:40px;top:35px;color:#f36621;font-size:22px;}

.jishu_qh{overflow: hidden;zoom:1;border-bottom:1px solid #ddd;margin-top:-15px;}
.jishu_qh li{float:left;width:85px;height:60px;line-height:60px; text-align: center;font-size: 17px;margin-right:30px;}
.jishu_qh li.active{background:url(../images/liness.png) no-repeat center bottom;color:#f36621;}
.jishu_qh li.active a{color:#f36621;}

.jshu_Ldl{overflow: hidden;zoom:1;border-bottom:1px dashed #ddd;padding:20px 0;}
.jshu_Ldl dt{float:left;}
.jshu_Ldl dt input{margin-right: 15px;}
.jshu_Ldl dt img{ width:180px; height:130px; margin-right:25px;}
.jshu_Ldl dd{float:left;width:630px;}
.jshu_Ldl h1{ font-size:18px; font-weight:normal; margin-bottom:10px;}
.jshu_Ldl h1 i{color:#f36420;}
.jshu_Ldl p{ height:70px; color:#888;}
.jshu_Ldl div{color:#888;}
.jshu_Ldl div span{ color:#f36420; margin-right:30px;}
.jshu_Ldl dd strong{position: absolute;right:40px;font-weight: normal;}
.jshu_Ldl dd strong a{color:#f36420;}

.jshu_Ldl div span.lanfont{color:#2a93be;}
.so_jig{border-bottom:1px dashed #ddd;}
.so_jig span{color:#f36420;}

.zhanh_bt{background: url(../images/bt.png) no-repeat left;height:43px;line-height: 43px;padding-left: 20px;font-size: 20px;color:#ef5121;margin-bottom: 10px;}
.zhanh_list li{height:66px;line-height: 66px;border-bottom:1px dashed #ccc;font-size: 16px; text-align:right;color:#999;background: url(../images/jt.png) no-repeat left center;padding-left: 15px;}
.zhanh_list li a{float:left;font-size: 17px;}

.zhaob_dl01{border-bottom:1px dashed #ccc;padding:20px 30px;overflow: hidden;zoom:1;}
.zhaob_dl01 h1{font-size:18px;}
.zhaob_dl01 dd span{display: block;color:#999;}
.zhaob_dl01 dd span i{margin-left: 25px;}
.zhaob_dl01 dt{margin-top: 10px;}
.zhaob_dl01 dt span{background:#f36621;color:#fff;padding:2px 15px;margin-right: 25px;}
.zhaob_dl01 dt span.huizi{background:#cdcdcd;}
.zhaob_dl01 dt i{background:#ffe1d3;color:#666;padding:2px 15px;margin-right: 25px;}
.zhaob_xxq{margin:25px;}

.mar{margin:30px;}
.fabu_div{ background: url(../images/fabt.png) no-repeat;height:69px;line-height: 69px;margin-bottom: 15px;}
.fabu_div a{display: block;line-height: 69px; text-align: center;font-size: 26px;color:#fff;}

.qiug_dabt{line-height:50px; font-size: 28px;font-weight: bold;}
.qiug_dabt span{color:#ef5121;}
.qiug_p{color:#999;}
.qiug_p i{color:#0279ff;}
.qiug_shjian{overflow: hidden;zoom:1;border-top:1px solid #eee;border-bottom:1px solid #eee;padding:1px;font-size: 15px;margin:15px 0;}
.qiug_shjian li{width:33.3%;float:left;background:#fafafa;height:65px;line-height:65px; text-align: center;}

.lub_table{width:375px;height: 408px;float:left;}
.gony_lunb{overflow: hidden;zoom:1;}
.gony_lunb li{width:33.3%;float:left;}
.gony_lunb li img{width:116px;height: 91px;border:2px solid #fff;}
.gony_lunb li.active img{border:2px solid #ef5121;}
.datu_lub{margin-bottom:7px;}
.datu_lub img{width:370px;height: 295px;}

.gongy_jsh{width:420px;float:right;}
.gongy_jsh dt{font-size: 30px;color:#ef5121;font-weight: bold;line-height:68px;}
.gongy_jsh dd{border-top:2px solid #f6f6f6;padding:10px 0;font-size: 15px;}
.gongy_jsh dd li span{display: block;width:100px;color:#999;float:left;}

.pubu_box{width:384px;float:left;margin:0 8px;}
.pubuliu_box{border:1px solid #ddd;border-radius: 5px;padding:20px 20px 70px 20px;position: relative;margin-bottom:20px;}
.pubuliu_box h1{height:60px; font-size: 20px;}
.pubuliu_box h1 span{border-bottom:2px solid #f26520;padding-bottom: 15px;}
.pubuliu_box p{font-size: 16px;}
.pu_tu{margin-top: 20px;}
.pu_tu img{width:100%;}
.pu_bot{background:#333;height: 52px;line-height:52px;color:#fff;padding:0 15px;border-radius:0 0 5px 5px;position: absolute;left:0;bottom: 0; width:352px;}
.pu_bot a{float:right;color:#fff;}

.links_box{background: url(../images/xline.png) repeat-x top;padding-top: 30px;margin-top: 30px;}
.links_bt{font-size: 20px;margin-bottom:10px;}
.links_ul{overflow: hidden;zoom:1;}
.links_ul li{width:20%;float:left;}

.in_zhanh{overflow: hidden;zoom:1;}
.in_bt{border-bottom:1px solid #eee;height:60px;line-height: 60px;font-size: 20px;margin-bottom: 15px;}
.in_bt a{font-size: 15px;color:#999;float:right;}
.in_zhanh_ul{overflow: hidden;zoom:1;margin-bottom: 25px;}
.in_zhanh_ul li{width:33%;float:left;font-size: 15px;height: 40px; line-height:40px;overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}
.in_zhanh_ul li span{color:#999;margin-right: 10px;}
.in_zhh_tu{margin-left: -25px;}
.in_zhh_tu img{width:380px;height: 223px;display: block; float:left;margin-left: 25px;}

.in_zazhi{overflow: hidden;zoom:1;width:590px;}
.zazhi_con{overflow: hidden;zoom:1;}
.zazhi_con dt{float:left;margin-right: 20px;}
.zazhi_con dt img{width:161px;height: 202px;border:1px solid #ddd;padding: 3px;}
.zazhi_con dd{float:left;width:400px;}
.zazhi_con dd h1{font-size:17px;font-weight: bold;}
.zazhi_con dd p{color:#666;}
.zazhi_con dd p a{color:#f36621;}
.in_zazhi_tu img{width:590px;height:110px;margin-top:25px;}
.zazhi_ul{margin-top: 10px;}
.zazhi_ul li{font-size: 15px;height: 40px; line-height:40px;overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}
.zazhi_ul li span{color:#999;margin-right: 10px;}

.ship_top{overflow: hidden;zoom:1;margin-left: -13px;}
.ship_top li{width:187px;float:left;position: relative;text-align: center;margin-left:13px;}
.ship_top li img{width:187px;height: 94px;}
.ship_top li span img{position: absolute;top:0;left:0;}
.ship_ul{margin-top: 10px;height:75px;overflow: hidden;}
.ship_ul li{width:50%;float:left;font-size: 15px; height:40px; line-height:40px;overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}
.ship_ul li a{display: block;background: url(../images/li.png) no-repeat left center;padding-left: 25px;}
.ship_ul li a:hover{display: block;background: url(../images/li2.png) no-repeat left center;padding-left: 25px;}

.in_gongq{overflow: hidden;zoom:1;}
.in_gongq_tu{margin-left: -18px;margin-top:10px;}
.in_gongq_tu img{width:388px;height:110px;display: block; float:left;margin-left:18px;}

.ingq_dl{border:1px solid #eee;padding: 15px;float:left;width:361px;height:128px;margin:0 0 10px 10px;}
.ingq_dl dd h1{font-size:16px;font-weight:normal;}
.ingq_dl dd h1 span{color:#f36621;font-weight: bold;float:right;}
.ingq_dl dd p{color:#e1e1e1;}
.ingq_dl dd p span{color:#888d9a;margin:0 2px;}
.ingq_dl dt{border-top:1px dashed #ddd;padding-top:15px;line-height:40px; margin-top: 10px;text-align: right;color:#999;}
.ingq_dl dt img{width:40px;height:40px;border-radius:100%;margin-right: 10px;}
.ingq_dl dt a{float:left;}

.ingy_qh{overflow: hidden;zoom:1;width:900px;margin-top:-75px;margin-left:100px;}
.ingy_qh li{float:left;height:58px;line-height:58px; text-align: center;font-size: 16px;margin-right:30px;}
.ingy_qh li.active{border-bottom:3px solid #f36621;}
.ingy_qh li.active a{color:#f36621;}

.ingy_box{margin-top:20px;margin-left: -10px; overflow: hidden;zoom:1;}
.innew_dl{width:300px;float:left;margin-right: 30px;}
.innew_dl dt img{width:299px;height:142px;border:1px solid #ddd;margin-bottom: 10px;}
.innew_dl dd h1{font-size:16px;font-weight: bold;line-height:40px;}
.innew_dl dd{line-height:40px;}
.innew_ul{width:507px;float:left;overflow: hidden;zoom:1;}
.innew_ul li{font-size: 15px;height: 40px; line-height:40px;overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}
.innew_ul li span{color:#999;margin-right: 10px;}
.innew_rul{width:343px;float:right;overflow: hidden;zoom:1;}
.innew_rul li{font-size: 15px;position: relative;margin-bottom:15px;}
.innew_rul li span{display: block;width:100%;position: absolute;bottom:0;height:48px;line-height: 48px;text-align: center;background:rgba(0,0,0,0.6);color:#fff;}
.innew_rul li img{width:342px;height: 185px;}

.index_uls{ width:200px;height: 460px;float:left;background:#71727f;color:#fff;margin:0 7px 0 0;font-size: 14px;position: relative;}
.index_uls li{cursor: pointer;line-height:28px;padding:13px 0 13px 20px;}
.index_uls li:hover{background:#656671;}
.index_uls li img{margin-right: 10px;}
.index_uls li p{padding-left:25px;font-size: 13px;}
.index_uls li p a{margin-right: 10px;color:#fff;}
.index_uls span{display: block;border-top: 1px solid #7e7f89;padding-top: 15px; text-align: center;line-height:24px;color:#9798a5;}
.nav_top{background:#7c7d89;height:55px;line-height:55px;font-size: 16px; padding-left:20px;}
.nav_top img{margin-right:10px;}


.povi_xq{position: absolute;left:100%;top:5px;z-index: 1111;border:1px solid #ddd;background: #fff;width:994px;height:450px;display: none}
.pov_l{width:460px;float:left;padding-left:26px;}
.index_uls li .pov_l p{color: #222;padding-top:8px;font-weight: bold;padding-left: 0;}
.zhuank_ej{line-height:35px;border-bottom:1px solid #eee;padding-bottom:5px;}
.zhuank_ej a{margin-right: 20px;}
.povi_xq ul{float:right;width:430px;border-left:1px solid #eee;height:450px;padding-left:10px;}
.povi_xq ul li{float:left;}
.povi_xq ul li:hover{background: none;}
.povi_xq ul li img{width:176px;height: 70px;}



.index_swiper{width:993px;height: 460px;float:left;position: relative;}
.swiper-container{height: 100%;width: 100%;}
.swiper-slide img{width:993px;height: 460px;}
.w260{background:#fff;width:260px;height:356px;position: absolute;right:50px;top:50px;z-index: 111;}
.w260 p{text-align: center;font-size: 14px;line-height:46px;}
.w260 p span{color:#d0111b;}
.ban_box{margin:0 20px;}
.ban_box li{margin-bottom: 8px;}
.ban_box li input{border:1px solid #ddd;width:211px;height: 34px;line-height: 34px;padding-left: 8px;}
.ban_box li input.yzm_text{width:100px;}
.ban_box li img{border:1px solid #ddd;}
.ban_box li button{width:221px;background:#f93711;height:42px;line-height:42px;text-align: center;color:#fff;border: 0;}

.injs_box{margin-top:20px;}
.chengse_btn:hover{color:#fff}

.footer_p{ height: 60px; line-height: 60px; text-align: center; border-top: 1px solid #666666; margin-top: 50px;}
.footer_p a{color: #979797; padding: 0 26px;}

.about{width:100%;}
.about h3{ padding-left: 9px; height: 16px; line-height: 20px; height: 20px; font-size: 18px; border-left: 3px solid #F36420;margin-top: 24px;}
.about p{padding-top: 24px; font-size: 15px; margin-bottom: 22px;}
.about ul{ margin-top: 24px;}

/*会员*/











